/*Universal styling*/

html {
  font-size: 16px;
  font-family: "Cabin", sans-serif;
}

h1 {
  color: rgb(211, 211, 211);
  font-weight: normal;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(128, 127, 127);
}

h3 {
  color: rgb(128, 127, 127);
}

p {
  color: rgb(165, 162, 162);
}

section {
  display: flex;
  justify-content: center;
}

/*header styling*/

header {
  display: flex;
  justify-content: space-between;
  height: 4rem;
}

#logo {
  margin: 1rem 1.5rem 1rem 0;
  display: flex;
  align-items: center;
}

#logo h1 {
  font-size: 1.5rem;
}

#logo img {
  height: 2.5rem;
}

.bold {
  font-weight: bold;
  color: rgb(0, 0, 0);
}

header nav ul {
  display: flex;
  justify-content: space-between;
  margin-right: 1.5rem;
}

header nav ul li {
  margin-left: 1rem;
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

/*Banner section*/

#banner {
  background-color: rgb(211, 211, 211);
}

#banner .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#banner .right h3 {
  font-size: 1.3rem;
}

.bannertext {
  width: 80%;
}

#banner .right button {
  background-color: rgb(122, 121, 121);
  margin-right: 2.5rem;
  padding: .5rem 0;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  width: 100%;
}

#banner .right button:hover {
  background-color: rgb(28, 0, 183);
}


/*Left content styling*/

.left {
  padding: 2rem 1.5rem;
  width: 60%;
}

.left img {
  width: 90%;
}

/*Right content styling*/

.right {
  border-left: 1px solid lightgrey;
  padding: 1rem 1.5rem;
  width: 40%;
}

/*information section*/

#information {
  background-color: rgb(240, 240, 240);
}

#information .right {
  padding-bottom: 2rem;
}

.information-image {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.information-image:hover {
  background-color: rgb(211, 211, 211);
}

.information-content a {
  text-decoration: none;
}

.information-image img {
  width: 35%;
  height: auto;
}

.information-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 55%;
}

.information-content h3 {
  font-size: 1.5rem;
  margin-bottom: .5rem;
  padding: 0;
}

.information-content p {
  font-size: 1rem;
  margin-bottom: .5rem;
  margin-top: 0;
}

.information-content a {
  text-decoration: none;
}

.information-content a:hover {
  color: darkblue;
}

/*courses section*/

#courses {
  flex-direction: column;
  align-items: center;
  padding-right: 4.5rem;
  padding-left: 4.5rem;
  background-color: rgb(223, 223, 223);
}

#courses-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#courses h2 {
  margin-bottom: 2rem;
}

.course-container {
  background-color: white;
  width: 30%;
  margin-bottom: 2rem;
}

.course-container img {
  width: 100%;
}

.course-container h3, .course-container h4, .course-container p {
  margin: 1rem 1rem;
}

.course-container h4, .course-container p {
  font-weight: normal;
  color: rgb(165, 162, 162)
  margin-left: 1rem;
}

.course-container h3 {
  margin-left: 1rem;
  font-size: 1.25rem;
}

/*thesis section*/

#thesis-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 240, 240);
}

.left video {
  width: 100%;
}

#thesis {
  display: flex;
  justify-content: space-between;
}

.thesis-image {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.thesis-image img {
width: 35%;
height: auto;
}

.thesis-image:hover {
  background-color: rgb(240, 240, 240);
}

.thesis-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 55%;
}

/*footer section*/

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  border-top: 1px solid lightgrey;
  background-color: rgb(240, 240, 240);
}

footer h5 {
  color: rgb(165, 162, 162);
}

footer div a {
  text-decoration: none;
  color: rgb(165, 162, 162);
}

/*desktop hidden section*/

#nav-mobile, #banner-mobile, #information-mobile, #courses-mobile, #thesis-mobile {
  display: none;
}

/*media queries*/

@media only screen and (max-width: 600px) {

  html {
    font-size: 16px;
    font-family: "Cabin", sans-serif;
  }

  div {
    display: block;
  }

  #logo, #banner, #information .left, header nav ul li, .course-container img,
  .course-container h4, .course-container p, #thesis-container .right, #thesis h3, #thesis p{
    display: none;
  }

  #nav-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
    width: 100%
  }

  #banner-mobile {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    background-color: rgb(211, 211, 211);
  }

  #banner-mobile .left img {
    width: 100%;
    height: auto;
    padding-bottom: 2rem;
  }

  #bannertext-mobile {
    font-family: "Cabin", sans-serif;
    padding: 0 1rem;
  }

  #bannertext-mobile h2 {
    padding-bottom: 2rem;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(128, 127, 127);
  }

  .information-image-mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .information-image-mobile img {
    width: 100%;
  }

  .information-content-mobile {
    padding-left: 1rem;
  }

  .course-list-mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
}



}
